body
{
  background-color: White;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
h1
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  text-transform: capitalize;
}
h2
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bolder;
  text-transform: capitalize;
}
h3
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
  text-transform: capitalize;
}

.AFBrandingBarTitle {
  font-weight: bolder;
  font-size: x-large;
  padding-top: 20.0px;

}

